body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px ;
}


 /* Navegacion */
header{
    width: 100%; /* ancho*/
    height: 60px; /*alto*/
}

/* Acceder a nav atarves de header */
header nav{
    display: flex;
    /* Justificacion hacia la */
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;

    list-style: none;
    display: flex;

    justify-content:center ;
    /* Centrado verticalmente */
    align-items: center;
}

a{
    text-decoration: none;
}

/*Anclas dentro del nav para agregar espacio*/
nav .nav-right-section a{
    /* Color del texto */
    color: black;
    margin-right: 20px;
}

/* Icono del menu */
nav .nav-right-section .menu{
    /* Ponemos imagen / vector */
    background-image: url( https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    /* Que la imagen este contenida en el elmento mas grande */
    background-size: contain;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

/* Imagen del usuarix */
nav .nav-right-section img{
    /* Redondeado de bordes */
    border-radius: 100%;
    width: 35px;
    margin-left: 20px;
}
/************************************************************************************************
**************************************************************************************************/
/* Main */

main{
    margin-top: 150px;
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin-bottom: 40px;
    /* vertical  // horizontal - auto - significa que el margen horizontal va a estar cambiando toso el tiempo conforme la pantalla*/
    /* Centrado absoluto gracias a los margenes automaticos*/   
    margin: 0 auto ;
}

main .main-logo img{
    height: 100px;
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
}

main .main-input-container{
    width: 525px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
}

main .main-input input{
    height: 35px;
    border: none;
    /* outline - quitar contorno al accionar*/
    outline: none;
    width: 450px;
}

/* Efecto hover (sombra) al poner el mouse sin accionar */
main .main-input-container:hover{
    border-color:  #dfe1e500;
    /* 0-> desplazamiento horizontal //
      1px-> desplazamiento vertical //
       6px-> desefonque //
       0 -> expansion de la sombra  */
    box-shadow: 0 1px 6px 0 #20212447;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    /* sin importar el tamano que aparezca */
    background-size: contain;
    background-position: center;
    /* Propiedad para que no se repita */
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    /*padding para mover a la derecha/izquierda/arriba/abajo */
    padding-left: 10px;
    margin-right: 10px
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 14px;
    height: 14px;
    padding-left: 5%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 5%;
    width:14px;
    height: 14px;
}

main .main-buttons{
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div{
    /* inline // inline block los pone en una sola linea  */
    display: inline-block;
}

main .main-buttons button{
    border: 0;
    height: 40px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    padding: 0 15px;
    margin-right: 15px;
    border: 1px solid #f8f9fa;
}

main .main-buttons button:hover{
    box-shadow: 0 1px 1px #20212447;
    border: 1px solid #dadce8;
    color: #202124;
}
/*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: grid;
    font-size: 15px;
    color: #70757a;
    align-items: center;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    grid-template-columns: 1fr 1fr;
    left: 0;
    right: 0;
}

footer ul{
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 2px 10px 0;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}


footer ul li a{
    margin: 10px;
    color: #5f6368;
}

